/*
:root {
    --MENU_ITEM_WIDTH: 175px;
}
*/

.navbar {
    overflow: hidden;
}

.navbar a {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    font-size: 16px;
    color: gray;
    background-color: white;
    text-align: center;
    padding: 0 16px;
    height: 48px;
    text-decoration: none;
    width: var(--MENU_ITEM_WIDTH);
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgrey;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    font-weight: 700;
    color: blue;
    border-bottom: 3px solid blue;
}

img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}
