/*
:root {
    --MENU_ITEM_WIDTH: 175px;
}
*/

.navbar {
    overflow: hidden;
}

.navbar a {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    font-size: 16px;
    color: gray;
    background-color: white;
    text-align: center;
    padding: 0 16px;
    height: 48px;
    text-decoration: none;
    width: var(--MENU_ITEM_WIDTH);
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgrey;
}

.navbar a:hover, .dropdown:hover {
    font-weight: 700;
    color: blue;
    border-bottom: 3px solid blue;
}

.navbar #button:hover {
    cursor: pointer;
    font-weight: 700;
    color: blue;
}

img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

#button {
    height: 100%;
    width: 100%;
    font-size: 16px;
    border: none;
    outline: none;
    color: gray;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}



.dropdown-content {
    align-self: start;
    top: 50px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    text-decoration: none;

    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: gray;
    background-color: white;
    padding: 0 16px;
    height: 48px;
    width: var(--MENU_ITEM_WIDTH);
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgrey;

}

.dropdown-content a:hover {
    background-color: #ddd;
}

#button:hover .dropdown-content {
    display: block;
}
