.sidenav {
    height: calc(100% - 50px);
    width: 0;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    color: gray;
    background-color: white;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    display: flex;
    align-items: center;
    height: 48px;
    padding-left: 32px;
    padding-right: 8px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    transition: 0.3s;
    border-bottom: 1px solid lightgrey;
}

.sidenav a:hover {
    color: black;
    border-bottom: 3px solid grey;
}

.sidenav .closebtn {
    border-bottom: 0;
}

.sidenav .closebtn:hover {
    border-bottom: 0;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 8px;
    font-size: 36px;
    margin-left: 50px;
}
